
@{
    ViewBag.Title = "DrawACard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Draw A Card</h2>

<h3>The Current Deck Id is @Model.deck_id</h3>

<p>You have @Model.remaining cards in your deck</p>

<p>
    <a class="btn btn-default" href="@Url.Action("DrawACard", "Game", new { deck_id = Model.deck_id })">Deal a Card!</a>
</p>

@foreach (var card in Model.cards)
{
    <img src="@card.image" />
}